body{
	background: url('images/background.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

header{
	margin-top: 28px;
	min-height: 121px;
	background-color: rgba(32, 30, 55, 0.75);
	right: 0;
	bottom: 0px;
	left: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

nav a{
	color: #B8A516 !important;
	transition: color 0.4s ease 0s;
	display: inline-block;
	padding: 0 10px;
	font-size: 24px;
}

.box{
	padding: 30px;
	background-color: rgba(32, 30, 55, 0.75);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.imgprofile img{
	width: 100%;
}

.imgprofile div.name{
	color: #B8A516;
	font-size: 20px;
	text-align: left;
	margin-top:20px
}

.imgprofile div.description{
	color: white;
	font-size: 16px;
	text-align: left;
	margin-top:20px
}

.content div.title{
	color: #B8A516;
	font-size: 24px;
	margin-top:20px
}

.content div.description{
	color: whitesmoke;
	font-size: 16px;
	margin-top:20px
}

.content div.image img{
	padding-top: 10px;
	width: 98%;
	text-align: center;
	padding-right: 10px;

}

hr{
	height: 1px !important;
	width: 100% !important;
	background: #aaa;
	color: #aaa;
	opacity: 0.5;
}

#navbarNav > ul > li > a:hover {
	color: #b400ec !important;
	transition: 1s;
}

.entry-title{
	color: #B8A516;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots){
	max-width: 100%;
}